body {
  font-family: sans-serif;
}

#rollBtn {
  position: relative;
  cursor: pointer;
  z-index: 2;
}

.dice-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../Dice-box-sample_2_square_fill.png');
  border: 2px solid red;
  width: 800px;
  height: 800px;
  background-size: cover;
}

#app {
  width: 650px;
  height: 620px;

}